[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
black = "*"
flake8 = "*"
isort = "*"
pympler = "*"
autopep8 = "*"
requests = "*"
httpx = "*"

[requires]
python_version = "3.9"
